<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <base href="/">
    <title>Change roles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="bank.css">

    <link rel="stylesheet" src="/webjars/font-awesome/5.13.0/font-awesome.min.css">


</head>

<body>
<div th:include="fragments/header :: header_user_admin" th:remove="tag"></div>

<br>

<section class="jumbotron2 text-center">
    <div class="container">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-outline-primary"   th:href="@{/admin/admin_page/page/1}"> Ship orders </a>
            <a class="btn btn-outline-primary"   th:href="@{/admin/users_list}"> Change roles </a>
        </div>
    </div>
</section>


<div class="container py-5">

    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <div class="tab-content">

                    <div id="nav-tab-card" class="tab-pane fade show active">

                        <form th:action="'/admin/change_roles/' + ${userDto.id}" th:object="${userDto}" method="post" >

                            <div class="form-group  mb-4" >
                                <label> Id </label>
                                <div class="input-group">
                                    <input type="text" placeholder="Id" class="form-control" th:field="*{id}" disabled/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb-4">
                                        <label> firstName </label>
                                        <div class="input-group">
                                            <input type="text"  placeholder="firstName" class="form-control"
                                                   th:field="*{firstName}" disabled/>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group mb-4">
                                        <label> lastName </label>
                                        <div class="input-group">
                                            <input type="text" placeholder="lastName" class="form-control"
                                                   th:field="*{lastName}" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb-4">
                                        <label> login </label>
                                        <div class="input-group">
                                            <input type="text" placeholder="login" class="form-control"
                                                  th:field="*{login}" disabled/>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group mb-4">
                                        <label> role </label>
                                        <div class="input-group">
                                            <input type="text" placeholder="role" class="form-control" th:field="*{role}" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group text-center" >
                            <button  type="submit" class="btn btn-outline-primary "
                                     th:with="text=${isAdmin} ? ' зробити роль USER' : ' зробити роль ADMIN'" th:text="${text}"> Confirm  </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div th:include="fragments/footer :: footer" th:remove="tag"></div>

</body>
</html>