@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body {
    background: rgba(169, 163, 221, 0.58);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}


.black {
    color: Black;

    text-align: center;
}


.column {
    background: linear-gradient(125deg, #778beb, #f8a5c2);
    width: 500px;
    height: 600px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.validation {
    display: none;
    white-space: nowrap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
