@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.py-1 {
    color: rgba(169, 163, 221, 0.58);
}

.new {
    color: rgba(169, 163, 221, 0.58);
}

.d-flex {
    background-color: rgba(169, 163, 221, 0.58);
}

.page-footer {
    background-color: rgba(169, 163, 221, 0.23);
}

.uk_lang {
    width: 100px;
    color: #480c54;
}

.en_lang {
    width: 100px;
    color: #480c54;
}

.btn {
    width: 140px;
}

.p_name {
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    line-height: 30px;
}

.info {
    font-kerning: initial;
    font-size: 20px;
    white-space: normal;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}


