@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import "general.css";

.column {
    background: linear-gradient(125deg, #5499c7, #ffffff);
    width: 500px;
    height: 500px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
}

.button {
    position: center;
    display: unset;
    width: 40%;
    height: 50px;
    border: none;
    font-size: 20px;
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    background: linear-gradient(120deg, #b5badb, rgba(41, 81, 173, 0.5), rgba(56, 52, 219, 0.75)) center;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #480c54;
    border-radius: 4px;
}
