@import "new_order.css";

.column {
    background: linear-gradient(125deg, #5499c7, #ffffff);
    width: 500px;
    height: 500px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
}