@import "general.css";

.alert {
    display: flex;
    color: #a20218;
    align-items: center;
    justify-content: center;
}


.button {
    position: center;
    display: unset;
    font-size: 18px;
    width: 40%;
    height: 50px;
    border: none;
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    background: linear-gradient(120deg, #b5badb, rgba(41, 81, 173, 0.5), rgba(56, 52, 219, 0.75)) center;
}



.firstName, .firstNameCyr, .lastName, .lastNameCyr, .login, .password, .email {
    box-sizing: border-box;
    border: 2px solid #720e80;
    border-radius: 4px;
    outline: none;
    color: #d2b5d1;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 35px;
}


.firstName {
    float: left;
    margin-left: 100px;
    left: 50px;
    width: 270px;
}

.firstNameCyr {
    float: right;
    margin-right: 100px;
    right: 350px;
    width: 270px;
}

.lastName {
    float: left;
    margin-left: 100px;
    width: 270px;
}

.lastNameCyr {

    float: right;
    margin-right: 100px;
    width: 270px;
}

.login {
    float: left;
    margin-left: 100px;
    width: 270px;
}

.email {

    float: right;
    margin-right: 100px;
    width: 270px;
}


