<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>My shipments</title>
    <link rel="shortcut icon" href="../../static/images/favicon.ico">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <base href="/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">


</head>

<body>

<div th:include="fragments/header :: header_user_admin" th:remove="tag"></div>
<br>

<section class="jumbotron2 text-center">
    <div class="container">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-outline-primary"  th:href="@{/shipments/show/1/all}"> Show all </a>
            <a class="btn btn-outline-primary " th:href="@{/shipments/show/1/paid}"> Show paid </a>
            <a class="btn btn-outline-primary"  th:href="@{/shipments/show/1/not_paid}"> Show not paid </a>
            <a class="btn btn-outline-primary"  th:href="@{/shipments/show/1/shipped}"> Show shipped </a>
            <a class="btn btn-outline-primary"  th:href="@{/shipments/show/1/archived}"> Show archived </a>
        </div>
    </div>
</section>

<br>
<div>
    <form th:object="${orderDto}" th:action="@{/shipments/find_order}" method="get">
        <div class="jumbotron2 text-center">
            <div class="container" id="dataTable_filter">
                <label>
                    <input type="search" pattern="\d*" class="form-control form-control-sm" th:field="*{id}"
                           aria-controls="dataTable" placeholder="Search by id">
                </label>
                <button type="submit" class="btn btn-default"  style="display: none;">Search</button>
            </div>
            <br>
            <div th:if="${error}" style="color: red">
                <h3>Order not found</h3>
            </div>
        </div>
    </form>
    <div class="container py-5" th:each="order : ${orders}">

        <div class="row" >
            <div class="col-lg-7 mx-auto">
                <div class="bg-white rounded-lg shadow-sm p-5" >

                    <ul  class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                        <li class="nav-item">
                            <b>
                                <h4 data-toggle="pill" th:text="${order.id}">Credit Card</h4>
                            </b>
                        </li>

                    </ul>

                    <div class="tab-content">

                        <div id="nav-tab-card" class="tab-pane fade show active">


                            <div class="form-group" >
                                <div th:text="#{order.status} + '  :   ' + ${order.status}">{Order status}</div>
                            </div>

                            <div class="form-group" >
                                <div th:text="#{order.type} + '  :  ' + ${order.orderType.name}">{Order name}</div>
                            </div>

                            <div class="form-group" >
                                <div th:text="#{order.weight} + '  :   ' + ${order.weight}">{Order weight}</div>
                            </div>

                            <div class="form-group" >
                                <div th:text="#{order.destination} + '  :   ' + ${order.destination.cityFrom} + ' - ' + ${order.destination.cityTo}">
                                    {Order destination}</div>
                            </div>

                            <div class="form-group" >
                                <div th:text="#{order.shipping.date} + '  :   ' + ${order.shippingDate}">{Order
                                    shippingDate}</div>
                            </div>


                            <div class="form-group" >
                                <div th:unless="${order.deliveryDate} == null" th:text="#{order.delivery.date} + '  :  ' + ${order.deliveryDate}">{Order
                                    deliveryDate}</div>
                            </div>

                            <div class="form-group" >
                                <div th:text="#{order.shipment.price} + '  :  ' + ${order.shippingPriceInCents} +  #{enter}">
                                {Order shippingPrice}</div>
                            </div>

                            <div class="form-group text-center" >
                                <a class="button" th:if="${order.check} == null"
                                   th:href="@{/bank/pay/{id}(id=${order.id})}" th:text="#{to.pay}" th:size="14px">
                                </a>
                            </div>

                            <div class="form-group text-center" >
                                <a class="button" th:if="${order.check} != null"
                                   th:href="@{/bank/show_check/{orderId}(orderId=${order.check.id})}" th:size="14px"> Show check
                                </a>
                            </div>

                            <div class="form-group text-center" >
                                <a class="button" th:if="${order.status.name() == 'SHIPPED'}"
                                   th:href="@{/shipments/archive_order/{orderId}(orderId=${order.id})}" th:size="14px"> Archive
                                </a>
                            </div>


                            <div class="form-group text-center" >
                                <a class="button" th:if="${order.status.name() == 'NOT_PAID'}"
                                   th:href="@{/shipments/delete/{orderId}(orderId=${order.id})}" th:size="14px"> Delete
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br>
    </div>
</div>

<div th:include="fragments/footer :: footer" th:remove="tag"></div>


</body>
</html>