<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <base href="/">
    <title>New order</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/image.png}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="index.css">

</head>

<body>
<div th:include="fragments/header :: header_user_admin" th:remove="tag"></div>


<section class="jumbotron2 text-center" >
    <div class="container">

    <div class="row">
        <div class="col-lg-7 mx-auto">
            <form th:action="@{/shipments/create_shipment}" th:object="${newOrder}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">New order</h1>
                        </div>
                        <div class="panel-body">


                            <div class="row">

                                <input type="hidden" th:field="*{id}" required/>

                                <div class="col-md-12 form-group text-center" th:class="${#fields.hasErrors('description')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>Description:</label>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <input type="text" class="form-control" th:field="*{description}"
                                                       maxlength="255" th:errorclass="has-error" required/>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 offset-md-1 form-group text-center" th:class="${#fields.hasErrors('weight')}
                                ? 'col-md-5 offset-md-1 form-group has-error' : 'col-md-5 offset-md-1 form-group'">
                                    <label>Weight:</label>
                                    <input type="number" class="form-control" th:field="*{weight}" th:errorclass="has-error" min="0" required/>
                                    <span class="help-block" th:if="${#fields.hasErrors('weight')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('weight')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-5 offset-md-0 form-group text-center">
                                    <label>Type:</label>
                                    <select class="form-control" th:field="*{type}" required>
                                        <option th:each="type : ${types}"
                                                th:value="${type.id}"
                                                th:text="${type.name}"
                                        >val
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-1 form-group text-center">
                                    <label>Destination from:</label>
                                    <select class="form-control" th:field="*{destinationCityFrom}" required>
                                        <option th:each="dest : ${destinationsFrom}"
                                                th:value="${dest}"
                                                th:text="${dest}"
                                        >val
                                        </option>
                                    </select>

                                </div>
                                <div class="col-md-5  offset-md-0 form-group text-center">
                                    <label>Destination to:</label>
                                    <select class="form-control" th:field="*{destinationCityTo}" required>
                                        <option th:each="dest : ${destinationsTo}"
                                                th:value="${dest}"
                                                th:text="${dest}"
                                        >val
                                        </option>
                                    </select>
                                </div>

                            </div>

                                <div class="form-group text-center">

                                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                                </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

</section>

<div th:include="fragments/footer :: footer" th:remove="tag"></div>

</body>
</html>