
<div th:fragment="header_user_admin" >

     <div id="container" >
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
            <h5 class="p_name mr-md-auto font-weight-bold " th:text="#{project.name}">{Project name}</h5>
            <a class="uk_lang" href="?language=uk">Українська</a>
            <a class="en_lang" href="?language=en">English</a>
            <a class="btn btn-outline-primary " th:text="#{general.logout}" href="/logout">{Logout}</a>

        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link " href="/account_page" th:text="#{about.us}">{About us}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/shipments/create_shipment" th:text="#{create.new.order}">{Сreate new order}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/shipments/show/1/all" th:text="#{my.shipments}">{My shipments}</a>
            </li>

            <li th:if="${isAdmin}"  class="nav-item">
                <a class="nav-link" href="/admin/admin_page/page/1" th:text="#{admin.page}" >{Admin page}</a>
            </li>

            <li th:if="${isAdmin}"  class="nav-item">
                <a class="nav-link" href="/admin/statistics" >statistics</a>
            </li>

             <li class="nav-item">
                 <a class="nav-link" href="/bank"  >User info</a>
             </li>

        </ul>
    </div>


</div>

<div th:fragment="header_guest">
    <div id="container">

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
            <h5 class="p_name mr-md-auto font-weight-bold " th:text="#{project.name}">{Project name}</h5>
            <a class="uk_lang" href="?language=uk">Українська</a>
            <a class="en_lang" href="?language=en">English</a>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="btn btn-outline-primary " th:text="#{login.proceed}" href="/login">{Sign in}</a>
                <a class="btn btn-outline-primary" th:text="#{index.register.link}" href="/reg">{Sign up}</a>
            </div>
        </div>

        <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link " href="/" th:text="#{about.us}">{About us}</a>
                    </li>
                </ul>

    </div>

</div>

