<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute, XmlDuplicatedId -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Payment service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="payment.css">
</head>
<body>


<div class="column">
    <br>
    <div class="alert" th:if="${error}">
        <h3 class="black" th:text="#{reg.error.generic}">{Reg error}</h3>
    </div>

    <a class="button" href="/account_page" th:text="#{go.to.first.page}">{To the first page}</a>
    <br>
    <br>

    <h1 class="calc" th:text="#{add.money}">{add money}</h1>

    <br>
    <br>

    <form th:action="@{/add_money}" th:object="${add}" method="POST">

        <div>

            <input type="number" id="amount" name="amount" class="amount" th:placeholder="#{enter}" required>
        </div>

        <br>
        <br>
        <form>
            <div class="col s12 sign">
                <button class="calculate waves-effect waves-light"
                        type="submit" name="action" th:text="#{reg.submit}">
                </button>
                <br>
            </div>
        </form>
    </form>

</div>
</body>
</html>
