<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute, XmlDuplicatedId -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Payment orderServiceDto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">

</head>
<body>

<div th:include="fragments/header :: header_user_admin" th:remove="tag"></div>

<div class="column">

    <section class="jumbotron2 text-center">

        <br>
        <div class="alert" th:if="${error}">
            <h3 class="black" th:text="#{reg.error.generic}">{Reg error}</h3>
        </div>

        <br>

        <h1 class="calc" th:text="#{add.money}">{add money}</h1>

        <br>
        <br>

    <form th:action="@{/add_money}" th:object="${add}" method="POST">

        <div>

            <input type="number" min="0" id="amount" name="amount" class="amount" th:placeholder="#{enter}" required>
        </div>

        <br>
        <br>
        <form>
            <div class="col s12 sign">
                <button class="calculate waves-effect waves-light"
                        type="submit" name="action" th:text="#{reg.submit}">
                </button>
                <br>

            </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </form>

    </section>

</div>

<div th:include="fragments/footer :: footer" th:remove="tag"></div>

</body>
</html>
