<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute, XmlDuplicatedId -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Calculator service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div th:include="fragments/header :: header_user_admin" th:remove="tag"></div>

<h1>
    Hello world!
</h1>


<div th:include="fragments/footer :: footer" th:remove="tag"></div>

</body>

</html>