<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>My shipments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>

<div th:include="fragments/header :: header_user_admin" th:remove="tag"></div>
<br>

<div class="alert" th:if="${error}">
    <h3 class="black" th:text="#{reg.error.generic}">{Reg error}</h3>
</div>

<div>
    <br/>

    <section class="jumbotron2 text-center">
        <div class="container">
            <h3 th:text="#{my.shipments} + ':'">{Here goes shipments table}</h3>
        </div>
    </section>

    <br>
    <table class="table table-hover">

        <thead>
        <tr>
            <th scope="col" th:width="50px">ID</th>
            <th scope="col" th:text="#{new.order.description}" th:width="200px">{Description}</th>
            <th scope="col" th:text="#{order.type}">{Type}</th>
            <th scope="col" th:text="#{order.weight}">{Weight}</th>
            <th scope="col" th:text="#{order.destination}">{Destination}</th>
            <th scope="col" th:text="#{order.shipping.date}">{Shipping Date}</th>
            <th scope="col" th:text="#{order.delivery.date}">{Delivery Date}</th>
            <th scope="col" th:text="#{order.shipment.price}">{Shipping price}</th>
            <th scope="col" th:text="#{order.status}">{Shipping Status}</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <th scope="row" th:text="${order.id}" style="width: 10px">{ID}</th>
            <td th:text="${order.dtoDescription}">{Description}</td>
            <td th:text="${order.type}">{Order type}</td>
            <td th:text="${order.dtoWeight}">{Order weight}</td>
            <td th:text="${order.dtoDestination}">{Order destination}</td>
            <td th:text="${order.shippingDate}">{Order shippingDate}</td>
            <td th:text="${order.deliveryDate}">{Order deliveryDate}</td>
            <td th:text="${order.shippingPrice}">{Order shippingPrice}</td>
            <td th:text="${order.status}">{Order status}</td>
        </tr>
        </tbody>
    </table>

    <br/>
</div>

<div th:include="fragments/footer :: footer" th:remove="tag"></div>

</body>
</html>