<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>New order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
<div th:include="fragments/header :: header_user_admin" th:remove="tag"></div>

<div class="column">
    <section class="jumbotron2 text-center">

        <br>
        <div class="alert" th:if="${error}">
            <h3 class="black" th:text="#{reg.error.generic}">{Reg error}</h3>
        </div>


        <h1 class="calc" th:text="#{create.new.order}">{Create new order}</h1>

        <div class="order">
            <form id="newOrder" name="newOrder" action="#" th:action="@{/create}" th:object="${newOrder}"
                  method="post">
                <br>

                <div>

                    <input type="number" id="weight" name="weight" th:field="*{dtoWeight}" class="weight"
                           th:placeholder="#{new.order.weight}" required>
                </div>

                <br>

                <br>


                <div class="input-field col s4">
                    <select id="type" class="order_type" name="type" th:field="*{dtoOrderType}" required>
                        <option value="" disabled selected th:text="#{choose.type}"></option>
                        <option value="SMALL" th:text="#{type.SMALL}"></option>
                        <option value="MIDDLE" th:text="#{type.MIDDLE}"></option>
                        <option value="BIG" th:text="#{type.BIG}"></option>
                        <option value="DOCUMENTS" th:text="#{type.DOCUMENTS}"></option>
                    </select>
                </div>
                <br>
                <br>


                <div class="input-field col s4">
                    <select id="dest" name="type" class="destination" th:field="*{dtoDestination}" required>
                        <option value="" disabled selected th:text="#{choose.destination}"></option>
                        <option value="NONE" th:text="#{destination.NONE}"></option>
                        <option value="INNER" th:text="#{destination.INNER}"></option>
                        <option value="COUNTRY" th:text="#{destination.COUNTRY}"></option>
                    </select>
                </div>

                <br>
                <form>
                    <input class="calculate waves-effect waves-light" type="submit" value="Submit">
                </form>
                <br>

                <br>


            </form>
        </div>
    </section>
</div>
<div th:include="fragments/footer :: footer" th:remove="tag"></div>

</body>
</html>