<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <base href="/">
    <title>Bank cards</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="bank.css">

    <link rel="stylesheet" src="/webjars/font-awesome/5.13.0/font-awesome.min.css">


</head>

<body>
<div th:include="fragments/header :: header_user_admin" th:remove="tag"></div>

<br>
<section class="jumbotron2 text-center">
    <div class="container">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-outline-primary"   th:href="@{/bank}"> My cards </a>
            <a class="btn btn-outline-primary active"  th:href="@{/bank/add_card}"> New card </a>
            <a class="btn btn-outline-primary "  th:href="@{/bank/show_checks}"> Checks </a>
        </div>
    </div>
</section>

<div class="container py-5">

    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <ul  class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                    <li class="nav-item">
                        <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill ">
                            <i class="fa fa-credit-card"></i>
                            Credit Card
                        </a>
                    </li>

                </ul>

                <div class="tab-content">

                    <div id="nav-tab-card" class="tab-pane fade show active">

                        <form th:action="@{/bank/add_card}" th:object="${bankDTO}" method="post">

                            <div class="form-group" th:class="${#fields.hasErrors('id')}
                                ? 'form-group has-error' : 'form-group'">
                                <label>Card number</label>
                                <div class="input-group">
                                    <input type="text" pattern="\d*" placeholder="Your card number" class="form-control"
                                           th:field="*{id}" th:errorclass="has-error" maxlength="16" required/>
                                </div>
                                <span class="help-block" style="color: red" th:if="${#fields.hasErrors('id')}">
                                    <ul style="list-style-type: none;">
                                        <li th:each="err : ${#fields.errors('id')}" th:text="${err}"/>
                                     </ul>
                                </span>
                            </div>


                            <div class="row">

                                <div class="col-sm-8">
                                    <div class="form-group mb-4"  th:class="${#fields.hasErrors('expMonth')}
                                ? 'form-group mb-4 has-error' : 'form-group mb-4'">
                                        <label><span class="hidden-xs">Expiration</span></label>
                                        <div class="input-group">
                                            <input type="text" pattern="\d*" placeholder="Month" class="form-control"
                                                   th:field="*{expMonth}" maxlength="2" th:errorclass="has-error" required/>
                                            <input type="text" pattern="\d*" placeholder="Year" class="form-control"
                                                   th:field="*{expYear}" maxlength="4" th:errorclass="has-error" required/>
                                        </div>
                                    </div>

                                    <span class="help-block" style="color: red" th:if="${#fields.hasErrors('expMonth')}">
                                    <ul style="list-style-type: none;">
                                        <li th:each="err : ${#fields.errors('expMonth')}" th:text="${err}"/>
                                     </ul>
                                </span>
                                    <span class="help-block" style="color: red" th:if="${#fields.hasErrors('expYear')}">
                                    <ul style="list-style-type: none;">
                                        <li th:each="err : ${#fields.errors('expYear')}" th:text="${err}"/>
                                     </ul>
                                </span>

                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group mb-4"  th:class="${#fields.hasErrors('ccv')}
                                ? 'form-group mb-4 has-error' : 'form-group mb-4'">
                                        <label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV
                                            <i class="fa fa-question-circle"></i>
                                        </label>
                                        <input type="password" pattern="\d*" placeholder="CVV" class="form-control"
                                               th:field="*{ccv}" maxlength="3" th:errorclass="has-error" required />
                                    </div>
                                    <span class="help-block" style="color: red" th:if="${#fields.hasErrors('ccv')}">
                                    <ul style="list-style-type: none;">
                                        <li th:each="err : ${#fields.errors('ccv')}" th:text="${err}"/>
                                     </ul>
                                </span>
                                </div>

                            </div>

                            <button  type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm "> Confirm  </button>
                        </form>
                    </div>

            </div>
        </div>
    </div>
    </div>
</div>

<div th:include="fragments/footer :: footer" th:remove="tag"></div>

</body>
</html>